.App {
  text-align: center;
  background: url('../src/images/brewery-background.jpg');
  height: '100%';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumb {
  width: 70%;
  background-color: rgb(84, 84, 84, .5);
  border: 1px solid rgb(92, 92, 92);
  color: #e3ded3;
  border-radius: 10px
}

.button {
  background-color: rgb(84, 84, 84, .5);
  border: none;
  color: #202020;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: .5
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e3ded3;
  opacity: .9;
  position: fixed;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.beer-content {
  padding-top: 20vh;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  background: url('../src/images/brewery-background.jpg') no-repeat center center fixed;
  background-size: cover;
}


